<link rel="stylesheet" href="/css/nav.css">
<nav class="navbar-custom">
    <div class="container-fluid">
        <div align="center">
            <a class="navbar-brand text-custom" href="/rank">Score (top10)</a>
        </div>
    </div>
</nav>